<settings>
  <mirrors>
    <mirror>
      <id>nexus-public-snapshots</id>
      <mirrorOf>public-snapshots</mirrorOf>
      <url>http://nexus:8081/nexus/content/groups/public-snapshots</url>
    </mirror>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus:8081/nexus/content/groups/public</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>development</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <!--this profile will allow snapshots to be searched when activated-->
      <id>public-snapshots</id>
      <repositories>
        <repository>
          <id>public-snapshots</id>
          <url>http://public-snapshots</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>public-snapshots</id>
          <url>http://public-snapshots</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

	   <profile>
		 <id>hudson</id>
		 <activation>
		   <activeByDefault />
		 </activation>
		 <pluginRepositories>
		   <pluginRepository>
		 <id>java.net2</id>
		 <url>http://download.java.net/maven/2</url>
		   </pluginRepository>
		 </pluginRepositories>

		 <repositories>
			<repository>
			  <id>java.net2</id>
			  <url>http://download.java.net/maven/2</url>
			  <releases>
			<enabled>true</enabled>
			<updatePolicy>never</updatePolicy>
			  </releases>
			  <snapshots>
			<enabled>false</enabled>
			  </snapshots>
			</repository>
		  </repositories>
	   </profile>


  </profiles>
  <activeProfiles>
    <activeProfile>development</activeProfile>
    <activeProfile>public-snapshots</activeProfile>
    <activeProfile>hudson</activeProfile>
  </activeProfiles>

	<pluginGroups>
	   <pluginGroup>org.jvnet.hudson.tools</pluginGroup>
	</pluginGroups>

  <servers>
    <server>
      <id>releases</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>  
    <server>
      <id>snapshots</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>  
    <server>
      <id>thirdparty</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server> 
    <server>
      <id>thirdparty-snapshots</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server> 

    <server>
      <id>freehep-maven-deploy</id>
      <username>duns</username>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
    </server>
    <server>
      <id>freehep-web-deploy</id>
      <username>duns</username>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
    </server>
    <server>
      <id>freehep-maven1-deploy</id>
      <username>duns</username>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
    </server>
  </servers>

</settings>

